<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
	</configSections>
	<connectionStrings>
		<add name="DBConnection" connectionString="cs" providerName="System.Data.SqlClient" />
		<add name="TestConnection" connectionString="cstest" providerName="System.Data.SqlClient" />
	</connectionStrings>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
	</startup>
	<appSettings>
		<add key="TestDB" value="true"/> <!--При true для записи используется тестовая БД (TestConnection), при false - боевая БД(DBConnection)-->
		
		<add key="SAP_IP" value="sapip" />
		<add key="SAP_SYSTEMNUMBER" value="0" />
		<add key="user_rfc" value="user" />
		<add key="pass_rfc" value="pass" />
		<add key="SAP_CLIENT" value="0" />
		<add key="WERKS" value="0" />
		<add key="DISMM_PD" value="pd" />
		<add key="CAPID" value="capid" />
		<add key="ATINN" value="atinn" />
		<add key="MTART" value="mtatr" />
		<add key="Sign" value="I" />
		<add key="Option0" value="EQ" />

		<add key="MRP_RP" value="1,2,3" />
		<add key="SAP_LANGUAGE_RP" value="RU" />

		<add key="MRP_RC" value="4,5,6" />
		<add key="SAP_LANGUAGE_RC" value="EN" />

		<add key="MRP_WC" value="7,8,9" />
		<add key="SAP_LANGUAGE_WC" value="EN" />
	</appSettings>
	<entityFramework>
		<providers>
			<provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
		</providers>
	</entityFramework>
</configuration>